	    </td>
	  </tr>
      <tr>
        <td align="center" class="text"> If you have any questions, please email us at <a href="mailto:info@philadelphiaii.us">info@philadelphiatwo.org</a>.<br>
        </td>
      </tr>
      <tr>
        <td align="center" class="copyright">Copyright &copy; <a href="http://philadelphiatwo.org">Philadelphia II</a><br>
			<a  target="_blank" href="http://gitorious.org/projects/election-on-the-national-initiative">The source code</a> for this website is available under the <a target="_blank" href="http://www.fsf.org/licensing/licenses/agpl-3.0.html">Affero GPL license</a>.</td>
      </tr>
      <a href="http://www.fsf.org/licensing/licenses/agpl-3.0.html">
  </tbody>
  </table>
  <?php if (strncmp($_SERVER['REQUEST_URI'],'/test/',6) == 0): ?>
      <div style="text-align:center; background:#FFFF00; font-size:150%; font-family:Arial, Helvetica, sans-serif">Test version  using a test database - not live</div>
  <?php endif; ?>
</div>
