<script type="text/javascript" src="p7pm/p7popmenu.js"></script>
<style type="text/css" media="screen">
<!--
@import url("p7pm/p7pmv0.css");
-->
</style>
<body onLoad="P7_initPM(0,0,0,-20,10)"><div id="menu" style="float:left;">
  <ul id="p7PMnav">
    <li><a href="login.php">Logout</a></li>
    <li><a href="Summary.php" class="p7PMtrg">The Proposal</a>
        <ul>
          <li><a href="Summary.php">Democracy Amendment &amp; Act (summary)</a></li>
          <li><a href="Amendment.php">Democracy Amendment (full text)</a></li>
          <li><a href="Act.php">Democracy Act (full text)</a></li>
        </ul>
    </li>
    <li><a href="LearnMore.php">About This Election</a></li>
    <li><a href="Privacy_Policy.php">Privacy Policy</a></li>
    <li><a href="EditVoterInfo.php">My Information</a></li>
    <li><a href="Ballot.php">My Ballot</a></li>
    <!--[if lte IE 6]><style>#p7PMnav a{height:1em;}#p7PMnav li{height:1em;float:left;clear:both;width:100%}</style><![endif]-->
    <!--[if IE 6]><style>#p7PMnav li{clear:none;}</style><![endif]-->
  </ul>
</div>
