<style type="text/css">
A
{
    COLOR: blue
}
.nothing
{
}
.poll
{
    FONT-SIZE: 6pt;
    COLOR: #cccccc;
    FONT-FAMILY: Verdana
}
.poll-title
{
    FONT-SIZE: 6pt;
    COLOR: #cccccc;
    FONT-FAMILY: Verdana
}
.poll-name
{
    FONT-SIZE: 12pt;
    TEXT-TRANSFORM: uppercase;
    COLOR: #000000;
    FONT-FAMILY: Verdana;
    FONT-VARIANT: normal
}
.poll-description
{
    FONT-SIZE: 12pt;
    COLOR: #0000ff;
    FONT-FAMILY: Verdana
}
.poll-instructions
{
    FONT-SIZE: 12pt;
    COLOR: #0000ff;
    FONT-FAMILY: Verdana
}
.poll-message
{
    FONT-SIZE: 10pt;
    COLOR: #0000ff;
    FONT-FAMILY: Verdana
}
.poll-critical-message
{
    FONT-SIZE: 10pt;
    COLOR: #ff0000;
    FONT-FAMILY: Verdana
}
.BigCheckBox
{
    WIDTH: 1.5em;
    HEIGHT: 1.5em
}
.BigInput
{
    WIDTH: 2em;
    HEIGHT: 2em
}
.BigRadio
{
    WIDTH: 1.5em;
    HEIGHT: 1.5em;
    color: #000066; background: #ffffff; border: none;
}

.BigSelect
{
    FONT-SIZE: 10pt;
    WIDTH: 20em;
    COLOR: #ff0000;
    FONT-FAMILY: Verdana;
    HEIGHT: 2em
}
.BigText
{
    FONT-SIZE: 10pt;
    WIDTH: 2em;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana;
    HEIGHT: 1em
}
.bold-text
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10pt;
    MARGIN-LEFT: 10px;
    COLOR: #000000;
    MARGIN-RIGHT: 10px;
    FONT-FAMILY: Verdana
}
.candidate
{
    FONT-SIZE: 10pt;
    COLOR: #123456;
    FONT-FAMILY: Verdana
}
.confirmation-message
{
    FONT-SIZE: 12pt;
    COLOR: #0000ff;
    FONT-FAMILY: Verdana
}
.criticalmessage
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    MARGIN-LEFT: 10px;
    COLOR: red;
    MARGIN-RIGHT: 10px;
    FONT-FAMILY: Verdana
}
.demographic-value-description
{
    FONT-SIZE: 10pt;
    COLOR: #123456;
    FONT-FAMILY: Verdana
}
.poll
{
    FONT-SIZE: 12pt;
    COLOR: #123456;
    FONT-FAMILY: Verdana
}
.poll-title
{
    FONT-SIZE: 12pt;
    COLOR: #123456;
    FONT-FAMILY: Verdana
}
.poll-name
{
    FONT-SIZE: 12pt;
    COLOR: #123456;
    FONT-FAMILY: Verdana
}
.poll-description
{
    FONT-SIZE: 12pt;
    COLOR: #123456;
    FONT-FAMILY: Verdana
}
.poll-instructions
{
    FONT-SIZE: 12pt;
    COLOR: #123456;
    FONT-FAMILY: Verdana
}
.poll-message
{
    FONT-SIZE: 8pt;
    COLOR: #0000ff;
    FONT-FAMILY: Verdana
}
.poll-critical-message
{
    FONT-SIZE: 8pt;
    COLOR: #ff0000;
    FONT-FAMILY: Verdana
}
.error
{
    FONT-SIZE: 12pt;
    MARGIN-LEFT: 20px;
    COLOR: red;
    MARGIN-RIGHT: 20px;
    FONT-FAMILY: Verdana
}
.error-message
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana
}
.issue
{
    FONT-SIZE: 10pt;
    COLOR: #123456;
    FONT-FAMILY: Verdana
}
.login-title
{
    FONT-SIZE: 12pt;
    COLOR: #0000ff;
    FONT-FAMILY: Verdana
}
.password
{
    FONT-SIZE: 12pt;
    MARGIN-LEFT: 10px;
    COLOR: #000000;
    MARGIN-RIGHT: 10px;
    FONT-FAMILY: Verdana;
    TEXT-ALIGN: center
}
.password-input
{
    FONT-SIZE: 12pt;
    MARGIN-LEFT: 10px;
    COLOR: #000000;
    MARGIN-RIGHT: 10px;
    FONT-FAMILY: Verdana;
    TEXT-ALIGN: center
}
.pin
{
    FONT-SIZE: 12pt;
    MARGIN-LEFT: 10px;
    COLOR: #000000;
    MARGIN-RIGHT: 10px;
    FONT-FAMILY: Verdana;
    TEXT-ALIGN: center
}
.pin-input
{
    FONT-SIZE: 12pt;
    MARGIN-LEFT: 10px;
    COLOR: #000000;
    MARGIN-RIGHT: 10px;
    FONT-FAMILY: Verdana;
    TEXT-ALIGN: center
}
.question
{
    FONT-SIZE: 6pt;
    COLOR: #cccccc;
    FONT-FAMILY: Verdana
}
.question-title
{
    FONT-SIZE: 6pt;
    COLOR: red;
    FONT-FAMILY: Verdana
}
.question-name
{
    FONT-SIZE: 10pt;
    COLOR: #0000cc;
    FONT-FAMILY: Verdana
}
.question-description
{
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana
}
.question-instructions
{
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana
}
.question-message
{
    FONT-SIZE: 8pt;
    COLOR: #0000ff;
    FONT-FAMILY: Verdana
}
.question-critical-message
{
    FONT-SIZE: 8pt;
    COLOR: #ff0000;
    FONT-FAMILY: Verdana
}
.proposition
{
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana
}
.putcenter
{
    VERTICAL-ALIGN: middle;
    TEXT-ALIGN: center
}
.response
{
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana
}
.response-title
{
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana
}
.response-name
{
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana
}
.response-description
{
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana
}
.response-instructions
{
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana
}
.response-name-display
{
    FONT-SIZE: 10pt;
    OVERFLOW: auto;
    COLOR: #000000;
    FONT-FAMILY: Verdana;
    HEIGHT: 4em
}
.response-value
{
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana
}
.response-text-1
{
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana
}
.response-text-2
{
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana
}
.response-message
{
    FONT-SIZE: 8pt;
    COLOR: #0000ff;
    FONT-FAMILY: Verdana
}
.response-critical-message
{
    FONT-SIZE: 8pt;
    COLOR: #ff0000;
    FONT-FAMILY: Verdana
}
.text
{
    FONT-SIZE: 10pt;
    MARGIN-LEFT: 10px;
    COLOR: #000000;
    MARGIN-RIGHT: 10px;
    FONT-FAMILY: Verdana
}
.textcenter
{
    TEXT-ALIGN: center
}
.title
{
    FONT-SIZE: 12pt;
    MARGIN-LEFT: 10px;
    COLOR: #000000;
    MARGIN-RIGHT: 10px;
    FONT-FAMILY: Verdana;
    TEXT-ALIGN: center
}
.verify-vote-message
{
    FONT-SIZE: 14pt;
    COLOR: #330099;
    FONT-FAMILY: Verdana
}
.warningmessage
{
    FONT-SIZE: 9pt;
    MARGIN-LEFT: 10px;
    COLOR: red;
    MARGIN-RIGHT: 10px;
    FONT-FAMILY: Verdana
}
.WriteIn
{
    FONT-SIZE: 12pt;
    WIDTH: 20em;
    COLOR: #123456;
    FONT-FAMILY: Verdana;
    HEIGHT: 1.5em
}
.validation-message
{
    FONT-SIZE: 10pt;
    COLOR: navy
}
.Button 	{color: #000066; font-size: 150%; font-weight: bold; background-color: white;
</style>  

