p,li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80%;
	text-align:left;
}
h1 {
	font-family: "Times New Roman", Times, serif;
	font-size: 200%;
	color: #990000;
	text-align:center;
}
h2 {
font-family: "Times New Roman", Times, serif;
	font-size: 150%;
	color: #990000;
}
h4 {
font-family: "Times New Roman", Times, serif;
	font-size: 100%;
	font-weight:bold;
	color: #990000;
}
.copyright { color: #000000; font-family: Verdana; font-size: 7pt; margin-left: 10;
		     margin-right: 10 }
.title       { color: #000000; font-family: verdana; font-size: 16pt; text-align: center;
		     margin-left: 10; margin-right: 10 }
.putcenter   { vertical-align: middle; text-align: center }
.textcenter  { text-align: center }
.error       { color: #000000; font-family: verdana; font-size: 12pt; margin-left: 20;
		     margin-right: 20 }
A                        {color: blue}
.Button {color: #000066; font-size: 150%; font-weight: bold; background-color: white; border: outset #000066 }
table.c2 {text-align: center}
div.c1 {color: #990000; font-size: 150%; text-align: center}
