<div align="center" id="main" style="width:650px; margin:auto; border:solid; border-color:#000000;">
  <?php if (strncmp($_SERVER['REQUEST_URI'],'/test/',6) == 0): ?>
    <div style="text-align:center; background:#FFFF00; font-size:150%; font-family:Arial, Helvetica, sans-serif">Test version  using a test database - not live</div>
  <?php endif; ?>
  <img alt="Logo" src="images/logo.jpg" border="0"><br>
  <?php if (session_is_registered("SESSION")) : ?>
    <div style="background-color:#CCCCCC; margin:5px"><p>Logged in as <?= $name ?></p></div>
  <?php endif ?>
  <table width="100%" border="0" cellpadding="5" cellspacing="0">
    <tbody>
      <tr>
	    <td>